<div id="loginContainer">
  <h3>Modifier mon profil</h3>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="input-section">
    <button
      mat-raised-button
      class="outline-button"
      routerLink="/take-photo"
    >
      <div routerLink="/take-photo"class="content-camera-button">
        <mat-icon class="icon-button">photo_camera</mat-icon>
        <span>Changer ma photo</span>
      </div>
    </button>

    <mat-radio-group aria-label="Select an option" formControlName="playStyle" class="radio">
      <mat-radio-button value="chill">Chill</mat-radio-button>
      <mat-radio-button value="competitive">Competitive</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Style de jeu</mat-label>
      <textarea
        matInput
        placeholder="Ex. It makes me feel..."
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Âge</mat-label>
      <select matNativeControl formControlName="age">
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
      </select>
    </mat-form-field>

    <button mat-raised-button class="save-btn" type="submit">
      Sauvegarder
    </button>
  </form>
</div>
