<div class="mobile">
  <project-majeur-layout>
    <div class="top-layout-mobile" top>
      <img
        src="assets/images/update-profile.svg"
        alt="login-image"
        loading="lazy"
      />
    </div>
    <div body *ngIf="currentUser" class="mobile-form">
      <div id="profile-picture">
        <h3>{{ 'editProfilePage.title' | translate }}</h3>
        <project-majeur-profile-picture
          [playerId]="currentUser.id"
          [alt]="currentUser.login"
          height="100"
          width="100"
          [isCircle]="true"
        ></project-majeur-profile-picture>
      </div>

      <project-majeur-edit-form
        [currentUser]="currentUser"
        (submitProfile)="handleSubmit($event)"
      ></project-majeur-edit-form>
    </div>
  </project-majeur-layout>
</div>

<div class="desktop">
  <project-majeur-navbar></project-majeur-navbar>
  <div body *ngIf="currentUser" class="grid-desktop">
    <div class="img-container">
      <img
        src="assets/images/update-profile.svg"
        alt="login-image"
        loading="lazy"
        class="img-desktop"
      />
    </div>

    <div class="form">
      <h3>{{ 'editProfilePage.title' | translate }}</h3>
      <project-majeur-profile-picture
        [playerId]="currentUser.id"
        [alt]="currentUser.login"
        height="100"
        width="100"
        [isCircle]="true"
      ></project-majeur-profile-picture>
      <project-majeur-edit-form
        class="form-layout"
        [currentUser]="currentUser"
        (submitProfile)="handleSubmit($event)"
      ></project-majeur-edit-form>
    </div>
  </div>
</div>
