.layout {
  background-color: #d7b39b;
  width: 100vw;
  height: 100vh;
}

.content {
  width: auto;
  height: 100%;
  background-color: white;
  padding: 24px;
  border-radius: 50px 50px 0px 0px;
  margin-top: 24px;
  overflow-y: scroll;
}