.grid {
  display: grid;
  grid-template-rows: repeat(3, auto-fill);
}

.layout {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: white;
  border-radius: 50px 50px 0px 0px;
  padding: 24px;
}

.content {
  width: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.ng-content {
  height: 100%;
}
