<div class="mobile">
  <project-majeur-layout>
    <div class="top-layout" top>
      <img
        class="svg"
        src="assets/images/profil.svg"
        alt="login-image"
        loading="lazy"
      />
    </div>
    <div body class="body-layout">
      <div id="loginContainer">
        <h3>
          {{
            isLoginForm
              ? ('loginPage.title' | translate)
              : ('signUpPage.title' | translate)
          }}
        </h3>

        <project-majeur-login-form
          [isLoginForm]="isLoginForm"
          (submitLogin)="handleSubmit($event)"
        ></project-majeur-login-form>
        <div class="link">
          <div class="noAccountYet" *ngIf="isLoginForm">
            <p class="subInfo">Pas encore de compte ?</p>
            <button
              value="login"
              mat-button
              color="primary"
              class="isConnectBtn"
              (click)="onChange('register')"
            >
              Créer un compte
            </button>
          </div>
          <div class="noAccountYet" *ngIf="!isLoginForm">
            <p class="subInfo">Déjà un compte ?</p>
            <button
              value="register"
              mat-button
              color="primary"
              class="isConnectBtn"
              (click)="onChange('login')"
            >
              Se connecter
            </button>
          </div>
        </div>
      </div>
    </div>
  </project-majeur-layout>
</div>

<div class="desktop">
  <project-majeur-navbar></project-majeur-navbar>
  <div class="grid-desktop">
    <img
      class="svg"
      src="assets/images/profil.svg"
      alt="login-image"
      loading="lazy"
    />
    <div body class="form">
      <div id="loginContainer">
        <h3>
          {{
            isLoginForm
              ? ('loginPage.title' | translate)
              : ('signUpPage.title' | translate)
          }}
        </h3>

        <project-majeur-login-form
          [isLoginForm]="isLoginForm"
          (submitLogin)="handleSubmit($event)"
        ></project-majeur-login-form>

        <div class="link">
          <div class="noAccountYet" *ngIf="isLoginForm">
            <p class="subInfo">Pas encore de compte ?</p>
            <button
              value="login"
              mat-button
              color="primary"
              class="isConnectBtn"
              (click)="onChange('register')"
            >
              Créer un compte
            </button>
          </div>
          <div class="noAccountYet" *ngIf="!isLoginForm">
            <p class="subInfo">Déjà un compte ?</p>
            <button
              value="register"
              mat-button
              color="primary"
              class="isConnectBtn"
              (click)="onChange('login')"
            >
              Se connecter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
