/* mobile */
#loginContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #354f52;
}

.svg {
  width: 90%;
  height: 100%;
  justify-self: center;
  margin: 8px 16px 40px 16px;
}

.top-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

/* desktop */

.desktop {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grid-desktop {
  display: grid;
  grid-template-columns: 40% 1fr;
  height: 100%;
}

.form {
  background-color: white;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  justify-content: center;
}

/* responsive*/
.mobile {
  display: none;
}

@media only screen and (max-device-width: 480px) {
  .mobile {
    display: block;
    height: 100%;
  }
  .desktop {
    display: none;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.submitBtn {
  width: 100%;
  height: 42px;
  background-color: #cad2c5;
  color: #354f52;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 16px;
  font-family: 'Montserrat';
  margin-top: 8px;
  box-shadow: none;
  font-weight: 500;
}

.noAccountYet {
  display: flex;
  justify-content: flex-end;
}

.isConnectBtn {
  font-family: 'Montserrat';
  color: #354f52;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.link {
  display: flex;
  justify-content: flex-end;
}

.subInfo {
  font-size: 14px;
}
