<project-majeur-layout>
  <div id="loginContainer">
    <h3>
      {{
        isLoginForm
          ? ('loginPage.title' | translate)
          : ('signUpPage.title' | translate)
      }}
    </h3>


    <project-majeur-login-form
    [isLoginForm]="isLoginForm"
    (submitLogin)="handleSubmit($event)"
    ></project-majeur-login-form>

    <mat-button-toggle-group
      #buttonGroup="matButtonToggleGroup"
      [ngModel]="myConnectChoice"
      (ngModelChange)="onChange($event)"
    >

      <mat-button-toggle value="login" [checked]="myConnectChoice === 'login'">
        Se connecter
      </mat-button-toggle>
      <mat-button-toggle
        value="register"
        [checked]="myConnectChoice === 'register'"
      >
        Créer un compte
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</project-majeur-layout>