<div class="card-game">
  <div (click)="goToGame()" class="hover">
    <img class="game-picture" [src]="game.picture" [alt]="game.title" />
  </div>

  <div (click)="goToGame()" class="hover">
    <h3>{{ game.title }}</h3>

    <div
      class="star-rating-container star-rating-animation"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <div *ngFor="let star of stars" [ngClass]="[star.class]">
        <mat-icon
          aria-hidden="false"
          aria-label="star icon"
          fontIcon="{{ star.icon }}"
        ></mat-icon>
      </div>
    </div>
  </div>

  <mat-icon
    (click)="deleteGame()"
    class="delete-icon-button"
    *ngIf="isEdition"
  >
    delete
  </mat-icon>
</div>
