<project-majeur-layout>
  <div top>
    <img
      class="game-img"
      src="{{ gameById?.thumbnail }}"
      alt="{{ gameById?.title }}"
      loading="lazy"
    />
  </div>

  <div body>
    <div class="game-details-infos">
      <h2 class="title">{{ gameById?.title }}</h2>
      <button
        mat-icon-button
        color="warn"
        aria-label="Heart icon"
        (click)="openDialog()"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    <div class="game__details-infos-tab">
      <mat-tab-group class="label">
        <mat-tab class="label" label="Description">
          <p class="description">{{ gameById?.description }}</p>
        </mat-tab>
        <mat-tab class="label" label="Joueurs">
          <p>Player(s) cards here !</p>
          <project-majeur-card-profil></project-majeur-card-profil>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</project-majeur-layout>
