<div class="game__details-img">
  <img src="{{ gameById?.thumbnail }}" alt="{{ gameById?.title }}">
</div>

<div class="game__details-infos">
  <div class="game__details-infos-top">
    <h2>{{ gameById?.title }}</h2>

    <button mat-icon-button color="warn" aria-label="Heart icon" (click)="openDialog()">
      <mat-icon>favorite</mat-icon>
    </button>

  </div>

  <div class="game__details-infos-tab">

    <mat-tab-group>
      <mat-tab label="Description">
        <p>{{ gameById?.description }}</p>
      </mat-tab>
      <mat-tab label="Player(s)">
        <p>Player(s) cards here !</p>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
