<div class="button__with__modal">
  <h4>Rate your level</h4>
  <div class="content">
    <div class="rating">
      <input type="radio" name="star" id="star1" /><label for="star1">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="star"
        ></mat-icon>
      </label>
      <input type="radio" name="star" id="star2" /><label for="star2">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="star"
        ></mat-icon>
      </label>
      <input type="radio" name="star" id="star3" /><label for="star3">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="star"
        ></mat-icon>
      </label>
      <input type="radio" name="star" id="star4" /><label for="star4">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="star"
        ></mat-icon>
      </label>
      <input type="radio" name="star" id="star5" /><label for="star5">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="star"
        ></mat-icon>
      </label>
      <input type="radio" name="star" id="star6" /><label for="star6">
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="star"
        ></mat-icon>
      </label>
    </div>
    <button mat-button mat-dialog-close (click)="onSubmit()">OK</button>
  </div>
  <span>I'm beginner</span>
</div>
