.content {
  font-family: 'Montserrat';
  font-size: 16px;
}

.actions-dialog {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: 'Montserrat';
}

.cancel {
  color: #800000;
}

.valid {
  color: green;
}
