<mat-card class="example-card" (click)="goGameDetails(game.id)">
  <div class="item-picture">
    <img mat-card-image src="{{ game.thumbnail }}" alt="{{ game.title }}" />
  </div>
  <div class="content-card">
    <p class="title">{{ game.title }}</p>
    <p class="description">{{ game.short_description }}</p>
  </div>
</mat-card>

<!-- <div class="game-card" (click)="goGameDetails(game.id)">
  <div class="image">
    <img mat-card-image src="{{ game.thumbnail }}" alt="{{ game.title }}" />
  </div>
  <div class="content">
    <h4 class="title">{{ game.title }}</h4>
    <p class="description">{{ game.short_description }}</p>
  </div>
</div> -->