<div class="card__profil">
  <img src="{{ image }}" alt="{{ libelle }}" height="65px">

  <div class="star-rating-wrapper">
    <h2>{{ libelle }} </h2>

    <div class="star-rating-container star-rating-animation" fxLayout="row" fxLayoutAlign="start center">
      <div *ngFor="let star of stars" [ngClass]="[star.class]">
        <mat-icon aria-hidden="false" aria-label="star icon" fontIcon="{{star.icon}}"></mat-icon>
      </div>
    </div>
  </div>


  <div class="arrow">
    &#707;
  </div>
</div>
