<!-- <mat-card>
    <div class="grid-container">
        <div class="item-picture">
            <img mat-card-image class="item-picture" src="{{ card.imageUrl }}" alt="">
        </div>
        <div>
            <mat-card-header>
                <mat-card-title>{{ card.libelle }}</mat-card-title>
            </mat-card-header>
        </div>
        <div>
            <mat-card-actions align="end">
                <button mat-button>></button>
            </mat-card-actions>
        </div>
        
    </div>
</mat-card> -->

<mat-card class="grid-container">
    <div id="img">
        <img mat-card-image class="item-picture" src="{{ card.imageUrl }}" alt="">
    </div>
    <div id="title">
        <mat-card-title>{{ card.libelle }}</mat-card-title>
    </div>
    <div id="rating"></div>
    <div id="arrow"></div>
</mat-card>