.user-infos {
    display: flex;
    justify-content: center;
}

.topContainer {
    padding: 0px 16px;
    margin-bottom: 24px;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #354f52;
    margin-right: 32px;
}

h2 {
   color: #354f52;
   margin-top: 0px;
   font-size: 22px;
}

.pseudoPart {
    align-items: center;
    height: 100%;
}

.tags {
    display: flex;
    gap: 16px;
}

.tag {
    min-width: 80px;
    justify-content: center;
    background-color:#354f52;
    color: white;
    font-family: 'Montserrat';
    display: inline-flex;
    border-radius: 50px;
    align-items: center;
    min-height: 28px;
    height: 1px;
}

.description {
    font-size: 16px;
    font-family: 'Montserrat';
    color: #fff;
}

