<mat-toolbar class="navbar">
  <div (click)="goBack()" class="button-icon" id="back">
    <mat-icon>arrow_back</mat-icon>
  </div>
  <div id="title">
    <span routerLink="/">{{ 'header.title' | translate }}</span>
  </div>
  <div [matMenuTriggerFor]="menu" class="button-icon" id="account">
    <mat-icon> account_circle </mat-icon>
    <mat-menu #menu="matMenu">
      <button *ngIf="!isUserLoged" mat-menu-item routerLink="/login">
        Connexion
      </button>
      <button *ngIf="isUserLoged" mat-menu-item (click)="logout()">
        Déconnexion
      </button>
      <button *ngIf="isUserLoged" mat-menu-item routerLink="/edit-profile">
        Modifier mon profil
      </button>
      <button *ngIf="isUserLoged" mat-menu-item routerLink="/my-profile">
        Profil
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
